.register {
    .container {
        padding-top: 1.5rem;
        border-top: solid 1px black;
        width: 90%;
        margin: auto;


        form {
            width: 80%;
            margin: auto;
            margin-bottom: 0.75rem;

            div {
                margin-bottom: 0.5rem;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                label {
                    margin-bottom: 0.25rem;
                }

                input {
                    width: 100%;
                    padding: 0.25rem 0.5rem;
                    border: black 1px solid;
                    border-radius: 0.25rem;
                    margin-bottom: 0.25rem;

                    &.ng-invalid.ng-touched {
                        border: red 1px solid;
                    }
                }

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    input {
                        width: 20%;
                    }

                    button {
                        width: fit-content;
                        padding-inline: 1rem;
                    }
                }
            }

            button {
                width: 100%;
                font-weight: bolder;
                font-size: 1rem;
                background-color: black;
                color: white;
                padding-block: 0.3rem;

                &:disabled {
                    background-color: rgba(0, 0, 0, 0.25);
                    cursor: not-allowed;
                }
            }

            .buttons {
                display: flex;
                justify-content: space-between;
                flex-direction: row;

                button:first-child {
                    width: 60%;
                }

                button:last-child {
                    width: 30%;
                }
            }
        }
    }
}

.login {
    text-align: center;

    a {
        color: black;
        font-weight: bolder;
        font-size: 1rem;
        text-decoration: underline;
    }
}

.toast-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;

    ::ng-deep .p-button {
        color: white;
        font-weight: bolder;
        background: none;
        border: 1px solid white;
    }
}