<nav>
    <div class="container">
        <a href="#">
            <h2>ECommerce</h2>
        </a>
        <ul class="routing">
            @if (!isLogin()) {
            <li><a routerLink="/login">Login</a></li>
            <li><a routerLink="/register">Register</a></li>
            } @else {
            <li><a routerLink="/login" (click)="loggingOut()" class="logout">Log out</a></li>
            <li><a routerLink="/products">Products</a></li>
            <li class=" cart">
                <a routerLink="/cart"><i class="pi pi-shopping-cart"></i></a>
                <div>{{ enumerator }}</div>
            </li>
            <li class="wish">
                <a routerLink="/wish"><i class="pi pi-heart-fill"></i></a>
                <div>{{ _wishList.wishListTotal() }}</div>
            </li>
            }
        </ul>
    </div>
</nav>