nav {
    padding: 0.75rem;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0;

        h2 {
            line-height: 3rem;
            margin: 0;
            font-weight: bolder;
            font-size: 1.5rem;
        }

        .routing {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0;
            margin: 0;

            li {
                padding: 0.5rem 1rem;
            }

            li:hover:not(.cart) {
                background-color: rgba(128, 128, 128, 0.2);
                border-radius: 0.5rem;
            }

            .cart {
                position: relative;

                div {
                    position: absolute;
                    top: 10%;
                    right: 0;
                    font-size: 0.75rem;
                    width: 1rem;
                    height: 1rem;
                    background-color: rgba(128, 128, 128, 0.5);
                    border-radius: 0.25rem;
                    text-align: center;
                }
            }
        }
    }
}

.otp {
    background-color: white;
    color: black;
    padding: 0;
    width: 5rem o !important;
}